<div>
<!-- <a routerLink = '/mobiles'>Add Mobiles</a> -->
<div>
  <table border=1>
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Update</th>
        <th>Delete Header</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of products'>
        <td>{{product.name}}</td>
        <td>{{product.color}}</td>
        <td (click)="updateMobile(product)">UPDATE</td>
        <td (click)="deleteMobile(product.id)">DELETE</td>
      </tr>
    </tbody>
  </table>
</div>
